<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-x1-6">
<strong>世の中の金欠サラリーマンを救うヒーロー！</strong>
<%= link_to "みんなの投稿" %>
<%= link_to "ログイン" %>
<%= link_to "サインアップ" %>
<%= image_tag "/ランチ2.jpg" %>